In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,...,NaN,5.0,372.0,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,...,NaN,10.0,597.0,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,...,0.0,19.0,NaN,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,...,1.0,7.0,407.0,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,...,0.0,18.0,502.0,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

<h1>Data Processing</h1>

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [4]:
df['Occupation'].value_counts()

Occupation
Employed         282750
Self-Employed    282645
Unemployed       276530
Name: count, dtype: int64

In [5]:
df['Customer Feedback'].value_counts()

Customer Feedback
Average    377905
Poor       375518
Good       368753
Name: count, dtype: int64

In [6]:
df.isnull().sum()

id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

<b>Handling Null Values

In [7]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Annual Income'] = df['Annual Income'].fillna(df['Annual Income'].mean())
df['Marital Status'] = df['Marital Status'].fillna('Single')
df['Number of Dependents'] = df['Number of Dependents'].fillna(df['Number of Dependents'].mean())
df['Occupation'] = df['Occupation'].fillna('Unemployed')
df['Health Score'] = df['Health Score'].fillna(df['Health Score'].mean())
df['Previous Claims'] = df['Previous Claims'].fillna(df['Previous Claims'].mean())
df['Vehicle Age'] = df['Vehicle Age'].fillna(df['Vehicle Age'].mean())
df['Vehicle Age'] = df['Vehicle Age'].fillna(df['Vehicle Age'].mean())
df['Credit Score'] = df['Credit Score'].fillna(df['Credit Score'].mean())
df['Insurance Duration'] = df['Insurance Duration'].fillna(df['Insurance Duration'].mean())
df['Customer Feedback'] = df['Customer Feedback'].fillna('Average')

In [8]:
df.isnull().sum()

id                      0
Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Insurance Duration      0
Policy Start Date       0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

In [9]:
df

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.000000,Married,1.000000,Bachelor's,Self-Employed,22.598761,Urban,...,2.000000,17.0,372.00000,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.000000,Divorced,3.000000,Master's,Unemployed,15.569731,Rural,...,1.000000,12.0,694.00000,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.000000,Divorced,3.000000,High School,Self-Employed,47.177549,Suburban,...,1.000000,14.0,592.92435,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.000000,Married,2.000000,Bachelor's,Unemployed,10.938144,Rural,...,1.000000,0.0,367.00000,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.000000,Single,1.000000,Bachelor's,Self-Employed,20.376094,Rural,...,0.000000,8.0,598.00000,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,1199995,36.0,Female,27316.000000,Married,0.000000,Master's,Unemployed,13.772907,Urban,...,1.002689,5.0,372.00000,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,1199996,54.0,Male,35786.000000,Divorced,2.009934,Master's,Self-Employed,11.483482,Rural,...,1.002689,10.0,597.00000,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,1199997,19.0,Male,51884.000000,Divorced,0.000000,Master's,Unemployed,14.724469,Suburban,...,0.000000,19.0,592.92435,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,1199998,55.0,Male,32745.217777,Single,1.000000,PhD,Unemployed,18.547381,Suburban,...,1.000000,7.0,407.00000,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,1199999,21.0,Female,32745.217777,Divorced,0.000000,PhD,Unemployed,10.125323,Rural,...,0.000000,18.0,502.00000,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

<h1>Level Encoding</h1>

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label_encoder = LabelEncoder()

In [12]:
 df['Gender'] = label_encoder.fit_transform(df['Gender'])

<b>Female -> 0<br>
Male -> 1</b>

In [13]:
df['Marital Status'] = label_encoder.fit_transform(df['Marital Status'])

<b>Married -> 1<br>
Divorced -> 0 <br>
Single -> 2 </b>

In [14]:
df['Education Level'].value_counts()

Education Level
Master's       303818
PhD            303507
Bachelor's     303234
High School    289441
Name: count, dtype: int64

In [15]:
df['Education Level'] = label_encoder.fit_transform(df['Education Level'])

<b>Bachelor's -> 0<br>
Masters -> 2 <br>
High School -> 1 <br>
Phd -> 3 </b>

In [16]:
df['Occupation'] = label_encoder.fit_transform(df['Occupation'])

<b>Self Employed-> 1<br>
Unemployed -> 2<br>
Employed -> 3</b>

In [17]:
df['Location'].value_counts()

Location
Suburban    401542
Rural       400947
Urban       397511
Name: count, dtype: int64

In [18]:
df['Location'] = label_encoder.fit_transform(df['Location'])

<b>Suburban-> 1<br>
Rural -> 0<br>
Urban -> 2</b>

In [19]:
df['Customer Feedback'].value_counts()

Customer Feedback
Average    455729
Poor       375518
Good       368753
Name: count, dtype: int64

In [20]:
df['Customer Feedback'] = label_encoder.fit_transform(df['Customer Feedback'])

<b>Average -> 0<br>
Poor -> 2 <br>
Good -> 1 </b>

In [21]:
df['Smoking Status'] = label_encoder.fit_transform(df['Smoking Status'])

<b> No -> 0 <br>
Yes -> 1 </b>

In [22]:
df['Exercise Frequency'].value_counts()

Exercise Frequency
Weekly     306179
Monthly    299830
Rarely     299420
Daily      294571
Name: count, dtype: int64

In [23]:
df['Exercise Frequency'] = label_encoder.fit_transform(df['Exercise Frequency'])

<b> Daily - 0<br>
Monthly - 1 <br>
Rarely - 2 <br>
Weekly -3 </b>

In [24]:
df['Property Type'].value_counts()

Property Type
House        400349
Apartment    399978
Condo        399673
Name: count, dtype: int64

In [25]:
df['Property Type'] = label_encoder.fit_transform(df['Property Type'])

<b> Apartment -> 0 <br>
Condo -> 1 <br>
House -> 2 </b>

In [26]:
df['Policy Type'].value_counts()

Policy Type
Premium          401846
Comprehensive    399600
Basic            398554
Name: count, dtype: int64

In [27]:
df['Policy Type'] = label_encoder.fit_transform(df['Policy Type'])

<b> Premium -> 2<br>
Basic -> 0 <br>
Comprehensive -> 1<b>

<h1>Linear Regression</h1>

In [28]:
X = df.drop(['id','Policy Start Date','Premium Amount'],axis='columns')
X

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,19.0,0,10049.000000,1,1.000000,0,1,22.598761,2,2,2.000000,17.0,372.00000,5.0,2,0,3,2
1,39.0,0,31678.000000,0,3.000000,2,2,15.569731,0,1,1.000000,12.0,694.00000,2.0,0,1,1,2
2,23.0,1,25602.000000,0,3.000000,1,1,47.177549,1,2,1.000000,14.0,592.92435,3.0,1,1,3,2
3,21.0,1,141855.000000,1,2.000000,0,2,10.938144,0,0,1.000000,0.0,367.00000,1.0,2,1,0,0
4,21.0,1,39651.000000,2,1.000000,0,1,20.376094,0,2,0.000000,8.0,598.00000,4.0,2,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,0,27316.000000,1,0.000000,2,2,13.772907,2,2,1.002689,5.0,372.00000,3.0,2,0,0,0
1199996,54.0,1,35786.000000,0,2.009934,2,1,11.483482,0,1,1.002689,10.0,597.00000,4.0,2,0,3,0
1199997,19.0,1,51884.000000,0,0.000000,2,2,14.724469,1,0,0.000000,19.0,592.92435,6.0,1,0,1,1
1199998,55.0,1,32745.217777,2,1.000000,3,2,18.547381,1,2,1.000000,7.0,407.00000,4.0,2,0,0,0
1199999,21.0,0,32745.217777,0,0.000000,3,2,10.125323,0,2,0.000000,18.0,502.00000,6.0,1,1,1,2

In [29]:
y = df['Premium Amount']
y

0          2869.0
1          1483.0
2           567.0
3           765.0
4          2022.0
            ...
1199995    1303.0
1199996     821.0
1199997     371.0
1199998     596.0
1199999    2480.0
Name: Premium Amount, Length: 1200000, dtype: float64

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [32]:
model = LinearRegression()

In [33]:
model.fit(X_train,y_train)

LinearRegression()

In [34]:
model.coef_

array([-1.45919339e-01,  2.55100884e-01, -5.11083935e-04,  3.91962096e+00,
       -4.16627055e-01, -1.15982696e+00, -4.52472120e+00,  1.19382160e+00,
        4.77892837e-01,  3.02799797e-01,  4.31523400e+01, -5.18350125e-02,
       -1.78901429e-01, -1.58362006e-01, -7.23822067e+00, -1.93436368e-01,
       -6.70369787e-01, -1.56983714e+00])

In [35]:
model.intercept_

1171.7237686997769

In [36]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 667.2737191351952

In [37]:
import pickle
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [38]:
df_test = pd.read_csv('test.csv')
df_test

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1999995,50.0,Female,38782.0,Married,1.0,Bachelor's,NaN,14.498639,Rural,Premium,NaN,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo
799996,1999996,NaN,Female,73462.0,Single,0.0,Master's,NaN,8.145748,Rural,Basic,2.0,0.0,NaN,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment
799997,1999997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,NaN,10.0,NaN,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment
799998,1999998,34.0,Female,45661.0,Single,3.0,Master's,NaN,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo
799999,1999999,25.0,Male,24843.0,Divorced,3.0,High School,NaN,24.893939,Suburban,Comprehensive,NaN,15.0,NaN,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House

In [39]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    800000 non-null  int64
 1   Age                   787511 non-null  float64
 2   Gender                800000 non-null  object
 3   Annual Income         770140 non-null  float64
 4   Marital Status        787664 non-null  object
 5   Number of Dependents  726870 non-null  float64
 6   Education Level       800000 non-null  object
 7   Occupation            560875 non-null  object
 8   Health Score          750551 non-null  float64
 9   Location              800000 non-null  object
 10  Policy Type           800000 non-null  object
 11  Previous Claims       557198 non-null  float64
 12  Vehicle Age           799997 non-null  float64
 13  Credit Score          708549 non-null  float64
 14  Insurance Duration    799998 non-null  float64
 15  Policy Start Date     800000 non-null  object
 16  Customer Feedback     747724 non-null  object
 17  Smoking Status        800000 non-null  object
 18  Exercise Frequency    800000 non-null  object
 19  Property Type         800000 non-null  object
dtypes: float64(8), int64(1), object(11)
memory usage: 122.1+ MB

In [40]:
df_test.isnull().sum()

id                           0
Age                      12489
Gender                       0
Annual Income            29860
Marital Status           12336
Number of Dependents     73130
Education Level              0
Occupation              239125
Health Score             49449
Location                     0
Policy Type                  0
Previous Claims         242802
Vehicle Age                  3
Credit Score             91451
Insurance Duration           2
Policy Start Date            0
Customer Feedback        52276
Smoking Status               0
Exercise Frequency           0
Property Type                0
dtype: int64

In [41]:
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())
df_test['Annual Income'] = df_test['Annual Income'].fillna(df_test['Annual Income'].mean())
df_test['Marital Status'] = df_test['Marital Status'].fillna('Single')
df_test['Number of Dependents'] = df_test['Number of Dependents'].fillna(df_test['Number of Dependents'].mean())
df_test['Occupation'] =df_test['Occupation'].fillna('Unemployed')
df_test['Health Score'] = df_test['Health Score'].fillna(df_test['Health Score'].mean())
df_test['Previous Claims'] = df_test['Previous Claims'].fillna(df_test['Previous Claims'].mean())
df_test['Vehicle Age'] = df_test['Vehicle Age'].fillna(df_test['Vehicle Age'].mean())
df_test['Credit Score'] = df_test['Credit Score'].fillna(df_test['Credit Score'].mean())
df_test['Insurance Duration'] = df_test['Insurance Duration'].fillna(df_test['Insurance Duration'].mean())
df_test['Customer Feedback'] = df_test['Customer Feedback'].fillna('Average')

In [42]:
df_test.isnull().sum()

id                      0
Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Insurance Duration      0
Policy Start Date       0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
dtype: int64

In [43]:
df_test['Gender'] = label_encoder.fit_transform(df_test['Gender'])
df_test['Marital Status'] = label_encoder.fit_transform(df_test['Marital Status'])
df_test['Education Level'] = label_encoder.fit_transform(df_test['Education Level'])
df_test['Occupation'] = label_encoder.fit_transform(df_test['Occupation'])
df_test['Location'] = label_encoder.fit_transform(df_test['Location'])
df_test['Customer Feedback'] = label_encoder.fit_transform(df_test['Customer Feedback'])
df_test['Smoking Status'] = label_encoder.fit_transform(df_test['Smoking Status'])
df_test['Exercise Frequency'] = label_encoder.fit_transform(df_test['Exercise Frequency'])
df_test['Property Type'] = label_encoder.fit_transform(df_test['Property Type'])
df_test['Policy Type'] = label_encoder.fit_transform(df_test['Policy Type'])

In [44]:
df_test

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.00000,0,2310.0,2,4.0,0,1,7.657981,0,0,1.004873,19.0,592.904749,1.0,2023-06-04 15:21:39.245086,2,1,3,2
1,1200001,31.00000,0,126031.0,1,2.0,2,1,13.381379,1,2,1.004873,14.0,372.000000,8.0,2024-04-22 15:21:39.224915,1,1,2,0
2,1200002,47.00000,0,17092.0,0,0.0,3,2,24.354527,2,1,1.004873,16.0,819.000000,9.0,2023-04-05 15:21:39.134960,0,1,1,1
3,1200003,28.00000,0,30424.0,0,3.0,3,1,5.136225,1,1,1.000000,3.0,770.000000,5.0,2023-10-25 15:21:39.134960,2,1,0,2
4,1200004,24.00000,1,10863.0,0,2.0,1,2,11.844155,1,2,1.004873,14.0,755.000000,7.0,2021-11-26 15:21:39.259788,0,0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1999995,50.00000,0,38782.0,1,1.0,0,2,14.498639,0,2,1.004873,8.0,309.000000,2.0,2021-07-09 15:21:39.184157,0,1,0,1
799996,1999996,41.13644,0,73462.0,2,0.0,2,2,8.145748,0,0,2.000000,0.0,592.904749,2.0,2023-03-28 15:21:39.250151,1,0,0,0
799997,1999997,26.00000,0,35178.0,2,0.0,2,0,6.636583,2,1,1.004873,10.0,592.904749,6.0,2019-09-30 15:21:39.132191,2,0,1,0
799998,1999998,34.00000,0,45661.0,2,3.0,2,2,15.937248,2,2,2.000000,17.0,467.000000,7.0,2022-05-09 15:21:39.253660,0,0,3,1
799999,1999999,25.00000,1,24843.0,0,3.0,1,2,24.893939,1,1,1.004873,15.0,592.904749,8.0,2021-05-18 15:21:39.108562,1,0,2,2

In [45]:
id = df_test['id']

In [46]:
X = df_test.drop(['id','Policy Start Date'],axis='columns')
X

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,28.00000,0,2310.0,2,4.0,0,1,7.657981,0,0,1.004873,19.0,592.904749,1.0,2,1,3,2
1,31.00000,0,126031.0,1,2.0,2,1,13.381379,1,2,1.004873,14.0,372.000000,8.0,1,1,2,0
2,47.00000,0,17092.0,0,0.0,3,2,24.354527,2,1,1.004873,16.0,819.000000,9.0,0,1,1,1
3,28.00000,0,30424.0,0,3.0,3,1,5.136225,1,1,1.000000,3.0,770.000000,5.0,2,1,0,2
4,24.00000,1,10863.0,0,2.0,1,2,11.844155,1,2,1.004873,14.0,755.000000,7.0,0,0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,50.00000,0,38782.0,1,1.0,0,2,14.498639,0,2,1.004873,8.0,309.000000,2.0,0,1,0,1
799996,41.13644,0,73462.0,2,0.0,2,2,8.145748,0,0,2.000000,0.0,592.904749,2.0,1,0,0,0
799997,26.00000,0,35178.0,2,0.0,2,0,6.636583,2,1,1.004873,10.0,592.904749,6.0,2,0,1,0
799998,34.00000,0,45661.0,2,3.0,2,2,15.937248,2,2,2.000000,17.0,467.000000,7.0,0,0,3,1
799999,25.00000,1,24843.0,0,3.0,1,2,24.893939,1,1,1.004873,15.0,592.904749,8.0,1,0,2,2

In [47]:
y_pred = model.predict(X)

In [48]:
y_pred

array([1093.57490689, 1082.13460258, 1066.08880696, ..., 1085.32778871,
       1156.4208246 , 1098.20253327])

In [49]:
submit = pd.DataFrame({'id': id, 'Premium Amount': y_pred})

In [50]:
submit.to_csv('Submission.csv', index=False)